*{
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

body{
  height: 100%;
  width: 100%;
}
h1{
  font-size: 90px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform:translate(-50%,-50%) ;
}

.nav{
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding : 30px;
}
.navs{
  display: flex;
  gap: 30px;  
}