*{
  margin: 10;
  padding: 0;
  background-color: black;
  color: aliceblue;
  font-size: 100px;
}

h1{
  background-color: rgb(62, 62, 62);
  min-width: 60px;
  width: fit-content;
  text-align: center;
}

button{
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  background-color: gray;
  color: black;
  border: none;
  border-radius: 1rem ;
}