*{
  margin: 0;
  padding: 0;
  color: white;
}
body{
  height: 100vh;
  width: 100%;
  background-color: #111;
}
.card{
  background-color: #222;
  height: 400px;
  width: 400px;
  margin: 4px;
  border: 4px solid #333;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.card img{
  height: 100px;
  /* width: 50%; */
  border-radius: 50%;
}
.card p{
  padding: 10px;
}
.card button{
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none  ;
  color: #111;
}

.nave{
  /* width: 100vmin !important; */
  background-color: blueviolet;
  padding: 5px;
}

.carlist{
  display: flex;
  flex-wrap: wrap;
}