body{
  height: 100%;
  width: 100%;
  background: #000;
  color: aliceblue;
}
h1{
  color: aqua;
  font-size: 100px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  text-decoration: underline darkcyan;
  white-space: nowrap;
  
}
.abs{
  color: red;
  font-size: 100px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  white-space: nowrap;
  text-decoration: underline darkcyan;
}